<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="#">Blog</a></small>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </footer>
</div>
